.boss{
   width:100%;
   height:70px;
   background:#f6f6f6;
    
     }


.see{
   width:1200px;
   height:70px;
   margin: 0 auto;
}

.img{
    width:113px;
    height:44px;
    padding-top:12px;
    padding-bottom:12px;
    display:block;
    float:left;
}


.per{
    width:620px;
    height:70px;
    float:left;
   
}



.n-left{
     line-height: 70px;
     width:70px;
     height:70px;
     float:left;
     padding-left:20px;}
    


select{
    background:#f6f6f6;
    border:1px solid #f6f6f6;
    font-size:14px;
   
}

.r-right{
    width:620px;
    height:70px;
    line-height: 70px;
    
}
.son{
    width:450px;
    height:70px;
    line-height: 70px;
    top:0;
    right:0;
    float:left;

}

.s-son{
    color:#d2d2d2;
    text-decoration: none;
}

span{
    font-size:16px;
    
}



.shouji{width:10px;
        height:16px;
        background:url("../images/sj.png") no-repeat;
    
    
}



.img-boss{
    width:100%;
    height:831px;
    background:url("../images/01.gif")no-repeat;
    position: relative;
}


.img-per{
    width:450px;
    height:408px;
    background:url("../images/bj.png")no-repeat ;
    position:absolute;
    right:50%;
    bottom:50%;
    margin-right:-550px;
    margin-bottom:-202px;
    
}

.left{
    width:100px;
    height:30px;
    border-bottom:1px solid #999999;
    position:absolute;
    left:50px;
    top:0;
}

.center{
    width:auto;
    height:60px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
    margin-left:100px;
    margin-right:100px;
}

.right{
    width:100px;
    height:30px;
    border-bottom:1px solid #999999;
    position:absolute;
    right:50px;
    top:0;
}

.img-son{width:450px;
    height:50px;
    
}





.box{
    width:350px;
    height:46px;
    border:1px solid #e5e5e5;
    margin: 0 auto;
    margin-top: 28px;
    background:#ffffff;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    -moz-border-radius:6px;
}



input{
    width:260px;
    height:44px;
    border:1px solid #ffffff;
    outline: none;
    font-size:14px;
     padding-left:30px;
     }



.img-two{
    width:24px;
    height:24px;
    background:url("../images/1.png") no-repeat ;
    float:left;
    margin-bottom: 11px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 11px;
}

.img-three{
    width:24px;
    height:24px;
    background:url("../images/2.png") no-repeat ;
    float:left;
    margin-bottom: 11px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 11px;
}


.big-box{
    width:350px;
    height:30px;
    
    margin:0 auto;
    margin-top:10px;
    
    margin-bottom: 30px;
}

.b-left{
    width:173px;
    height:28px;
    float:left;
    font-size:12px;
    text-align: left;
    line-height: 28px;
}


.c-box{
    width:14px;
    height:28px;
    float: left;
}

.b-right{
    width:173px;
    height:28px;
    line-height: 28px;
    text-align: right;
    float:right;
}

.font{
    font-size:12px;
    color:#ec6c00;
    
    
}
.denglu{
    width:350px;
    height:50px;
    font-size: 18px;
    background:#ec6c00;
    color:#ffffff;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    margin-top: 50px;
    margin: 0 auto;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -o-border-radius:6px;
    -ms-border-radius:6px;
    -moz-border-radius:6px;
}

.last{
    width:350px;
    height:50px;
    text-align: center;
    font-size: 14px;
   
    line-height: 50px;
    padding-top: 30px;
    margin: 0 auto;
}

span{
    font-size: 14px;
}
a{
    font-size-adjust: 14px;
    color:#ec6c00;
}